body{background-image: url("../images/cyberpunk-neon-city-s0.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}
.container {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -53%);
	color: black;
	background-color: white;
	padding: 25px;
}
footer{background-color:#f763d0;
	margin-bottom: -100;
  margin-right: 0;
	position: relative;
	bottom: 0;
	height:300px;
  font-size: 15px;
}
table.dream{width: 700px;
  border-collapse: separate;
  border-spacing: 50px 15px;
}
