body{margin:0;
	font-family: 'Poppins', sans-serif;
}
footer{background-color:#f763d0;
  margin-right: 0;
	position: relative;
	bottom: 0;
	height:350px;
  font-size: 15px;
	color:white;
}
table.dream{width: 700px;
  border-collapse: separate;
  border-spacing: 50px 15px;
	color: white;
}
