/*Sarah Xu, June 2, 2020*/
/*This file contains the styling information for contact.html*/

/*class for the div with information on contacting Awesome Hangman Inc.*/
.contacting {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/*hover CSS for the email hyperlink*/
a:hover{
  color:#ff70e2;
}
input[type=text], select, textarea {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  float:none;
	margin:10px 10px 10px 0;
	width:200px;
	height:40px;
	padding:10px;
	color:white;
	background:#c170ff;
	cursor:pointer;
	border-radius: 20px;
	border:solid 1px white;
	transition-duration: 0.5s;
	text-align: center;
	font-size: 15px;
}
input[type=submit]:hover {
  background:#0dfcc8;
	border: solid 1px white;
	color:white;
}
footer{
	bottom: -90px;
}
